.palette {
    width: 700px;
    background-color: rgb(71, 71, 71);
    padding: 5px;
    margin-bottom: 10px;
    display:flex;
}

.colors {
  margin: 0px;
  padding: 0px;
}

.colorButtons {
    width: 20px;
    height: 12px;
    border: 0px;
    margin-left: 2px;
    margin-right: 2px
}

.colorButtons:hover {
  border: 2px solid black;
}

.slidersAndColorDisp {
  margin: 5px;
  margin-right: 9px;
}

.slidersAndColorDisp input {
  margin-bottom: 7px;
}

.toolButtons button{
  margin: 5px;
  padding: 0px;
  border-top: 3px solid black;
  border-bottom: 3px solid rgb(119, 119, 119);
  border-right: 3px solid rgb(78, 78, 78);
  border-left: 3px solid rgb(78, 78, 78);
}
.toolButtons button:hover {
  border-top: 3px solid rgb(34, 34, 34);
  border-bottom: 3px solid rgb(143, 143, 143);
  border-right: 3px solid rgb(126, 126, 126);
  border-left: 3px solid rgb(126, 126, 126);
}

.toolButtons img {
  margin: 0px;
  padding: 0px;
  width: 40px;
  height: 40px;
  display: block;
  border: 0
  
}

.brushSize button{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 60px;
  height: 20px;
  margin: 5px;
  padding: 0px;
  border-top: 3px solid black;
  border-bottom: 3px solid rgb(119, 119, 119);
  border-right: 3px solid rgb(78, 78, 78);
  border-left: 3px solid rgb(78, 78, 78);
}

.brushSize button:hover{
  color: red;
  border-top: 3px solid rgb(34, 34, 34);
  border-bottom: 3px solid rgb(143, 143, 143);
  border-right: 3px solid rgb(126, 126, 126);
  border-left: 3px solid rgb(126, 126, 126);
}

input {
    height: 8px;
}

/* rgb sliders for webkit */
input::-webkit-slider-runnable-track {
  height: 8px;
  background: white;
} 

.rInput::-webkit-slider-thumb {
  appearance: none;
  width: 8;
  height: 16px;
  background: red;
  border-radius: 50%;
  margin-top: -4px;
}

.gInput::-webkit-slider-thumb {
  appearance: none;
  width: 8px;
  height: 16px;
  background: green;
  border-radius: 50%;
  margin-top: -4px;
}

.bInput::-webkit-slider-thumb {
  appearance: none;
  width: 8px;
  height: 16px;
  background: blue;
  border-radius: 50%;
  margin-top: -4px;
}


/* rgb sliders for mozilla firefox */
input::-moz-range-track {
  height: 8px;
  margin: 0;
  background: white;
}

.rInput::-moz-range-thumb {
  appearance: none;
  width: 8px;
  height: 16px;
  background: red;
  border-radius: 0;
  margin-top: -4px;
}

.gInput::-moz-range-thumb {
  appearance: none;
  width: 8px;
  height: 16px;
  background: green;
  border-radius: 0;
  margin-top: -4px;
}

.bInput::-moz-range-thumb {
  appearance: none;
  width: 8px;
  height: 16px;
  background: blue;
  border-radius: 0;
  margin-top: -4px;
}



