.toolbar {
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: rgb(172, 172, 172);
    border: 1px solid black;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

#sizes,
#brush1 {
    border-radius: 0%;
}